.form {
  width: 300px;
  height: 420px;
  background-color: #fff;
  position: absolute;
  left: 20px;
  top: 50%;
  padding: 32px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 16px #ccc;
          box-shadow: 0 4px 16px #ccc;
  -webkit-transform: translateY(-70%);
      -ms-transform: translateY(-70%);
          transform: translateY(-70%);
  cursor: pointer;
  z-index: 1;
}

.form div {
  cursor: pointer;
}

.form .form-title {
  text-align: center;
  margin: 0 0 32px 0;
  font-size: 22px;
}

.form .form-group {
  position: relative;
  margin-bottom: 32px;
}

.form .form-group .form-label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: #9e9e9e;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form .form-group .form-input {
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form .form-group .form-input:not(:placeholder-shown) + .form-label {
  top: -18px;
  font-size: 12px;
}

.form .form-group .form-input:focus {
  border-bottom: 1px solid #1a73a8;
}

.form .form-group .form-input:focus + .form-label {
  top: -18px;
  font-size: 12px;
}

.form .message-form-label {
  position: relative;
  left: 19%;
  bottom: 15px;
  color: red;
}

.form .warning-message-label {
  position: absolute;
  left: 11px;
  padding: 0px 10px 0px 20px;
  bottom: 18px;
  width: 90%;
  color: red;
}

.form .form-button {
  padding: 15px 10px;
  top: 360px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  background-color: #0071f0;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form .form-button:focus, .form .form-button:hover {
  background-color: rgba(0, 113, 240, 0.7);
}

.form .form-button:disabled {
  background-color: #bbb;
}

.form .form-input,
.form .form-button {
  font-size: 16px;
}
