.apartments {
    overflow-y: scroll;
    position: fixed;
    width: 15%;
    height: 100%;
    right: 0px;
    top: 0px;
    background-color: #fff;
    z-index: 1;

    .apartment {
        position: relative;
        width: 95%;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        margin-left: 7px;
        margin-top: 10px;
        position: relative;
        height: 330px;
        background-color: #fff;
        border-radius: 10px;
        img {
            position: absolute;
            left: 0;
            width: 97%;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }

        .cost {
            position: absolute;
            color: #fff;
            font-weight: 500;
            font-size: 16px;
            transition: color 0.2s;
            background: rgba(44, 53, 58, 0.85);
            // bottom: 113px;
            bottom: 34.5%;
            left: 0px;
            z-index: 1;
            padding: 4px 10px;
            border-top-right-radius: 10px;
        }
        h3 {
            // font-family: Verdana, Geneva, Tahoma, sans-serif;
            position: absolute;
            z-index: 1;
            // bottom: 42px;
            bottom: 12%;
            left: 5px;
            font-weight: 500;
            max-height: 48px;
            font-size: 17px;
            overflow: hidden;
            text-align: left;
            text-overflow: ellipsis;
            color: #000;
        }
        .areaOfCity {
            position: absolute;
            z-index: 1;
            bottom: 3%;
            left: 5px;
            font-size: 13px;
            margin: 6px 0;
            color: #62737b;
            font-weight: 400;
            max-height: 33px;
            overflow: hidden;
        }
    }
}
