.map-container {
    width: 100vw;
    height: 100vh;
}
.full-size {
    height: 80%;
}
h1 {
    position: absolute;

    z-index: 1;
    color: #4e1b1b;
}
.search {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 1;
}